// Typography
$sans-serif: -apple-system, blinkmacsystemfont, "avenir next", avenir, helvetica,
  "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif !default;
$serif: georgia, serif !default;
$code: consolas, monaco, monospace !default;
$font-size-headline: 6rem !default;
$font-size-subheadline: 5rem !default;
$font-size-1: 3rem !default;
$font-size-2: 2.25rem !default;
$font-size-3: 1.5rem !default;
$font-size-4: 1.25rem !default;
$font-size-5: 1rem !default;
$font-size-6: 0.875rem !default;
$font-size-7: 0.75rem !default;
$letter-spacing-tight: -0.05em !default;
$letter-spacing-1: 0.1em !default;
$letter-spacing-2: 0.25em !default;
$line-height-solid: 1 !default;
$line-height-title: 1.25 !default;
$line-height-copy: 1.5 !default;
$measure: 30em !default;
$measure-narrow: 20em !default;
$measure-wide: 34em !default;
$spacing-none: 0 !default;
$spacing-extra-small: 0.25rem !default;
$spacing-small: 0.5rem !default;
$spacing-medium: 1rem !default;
$spacing-large: 2rem !default;
$spacing-extra-large: 4rem !default;
$spacing-extra-extra-large: 8rem !default;
$spacing-extra-extra-extra-large: 16rem !default;
$spacing-copy-separator: 1.5em !default;

// Height, Width & Spacing
$height-1: 1rem !default;
$height-2: 2rem !default;
$height-3: 4rem !default;
$height-4: 8rem !default;
$height-5: 16rem !default;
$height-100: 100% !default;
$width-1: 1rem !default;
$width-2: 2rem !default;
$width-3: 4rem !default;
$width-4: 8rem !default;
$width-5: 16rem !default;
$width-100: 100% !default;
$max-width-1: 1rem !default;
$max-width-2: 2rem !default;
$max-width-3: 4rem !default;
$max-width-4: 8rem !default;
$max-width-5: 16rem !default;
$max-width-6: 32rem !default;
$max-width-7: 48rem !default;
$max-width-8: 64rem !default;
$max-width-9: 96rem !default;
$max-width-100: 96rem !default;

// Borders
$border-radius-none: 0 !default;
$border-radius-1: 0.125rem !default;
$border-radius-2: 0.25rem !default;
$border-radius-3: 0.5rem !default;
$border-radius-4: 1rem !default;
$border-radius-circle: 100% !default;
$border-radius-pill: 9999px !default;
$border-width-none: 0 !default;
$border-width-1: 0.125rem !default;
$border-width-2: 0.25rem !default;
$border-width-3: 0.5rem !default;
$border-width-4: 1rem !default;
$border-width-5: 2rem !default;

// Shadows
$box-shadow-1: 0 0 4px 2px rgb(0 0 0 / 20%) !default;
$box-shadow-2: 0 0 8px 2px rgb(0 0 0 / 20%) !default;
$box-shadow-3: 2px 2px 4px 2px rgb(0 0 0 / 20%) !default;
$box-shadow-4: 2px 2px 8px 0 rgb(0 0 0 / 20%) !default;
$box-shadow-5: 4px 4px 8px 0 rgb(0 0 0 / 20%) !default;

// Color Scales
$black: hsl(0deg 0% 0%) !default; // #000
$near-black: hsl(0deg 0% 7%) !default; // #111
$dark-gray: hsl(0deg 0% 20%) !default; // #333
$mid-gray: hsl(0deg 0% 33%) !default; // #555
$gray: hsl(0deg 0% 47%) !default; // #777
$silver: hsl(0deg 0% 60%) !default; // #999
$light-silver: hsl(0deg 0% 67%) !default; // #aaa
$moon-gray: hsl(0deg 0% 80%) !default; // #ccc
$light-gray: hsl(0deg 0% 93%) !default; // #eee
$near-white: hsl(0deg 0% 96%) !default; // #f4f4f4
$white: hsl(0deg 0% 100%) !default; // #fff
$transparent: transparent !default;
$black-90: hsl(0deg 0% 0% / 90%) !default;
$black-80: hsl(0deg 0% 0% / 80%) !default;
$black-70: hsl(0deg 0% 0% / 70%) !default;
$black-60: hsl(0deg 0% 0% / 60%) !default;
$black-50: hsl(0deg 0% 0% / 50%) !default;
$black-40: hsl(0deg 0% 0% / 40%) !default;
$black-30: hsl(0deg 0% 0% / 30%) !default;
$black-20: hsl(0deg 0% 0% / 20%) !default;
$black-10: hsl(0deg 0% 0% / 10%) !default;
$black-05: hsl(0deg 0% 0% / 5%) !default;
$black-025: hsl(0deg 0% 0% / 2.5%) !default;
$black-0125: hsl(0deg 0% 0% / 1.3%) !default;
$white-90: hsl(0deg 0% 100% / 90%) !default;
$white-80: hsl(0deg 0% 100% / 80%) !default;
$white-70: hsl(0deg 0% 100% / 70%) !default;
$white-60: hsl(0deg 0% 100% / 60%) !default;
$white-50: hsl(0deg 0% 100% / 50%) !default;
$white-40: hsl(0deg 0% 100% / 40%) !default;
$white-30: hsl(0deg 0% 100% / 30%) !default;
$white-20: hsl(0deg 0% 100% / 20%) !default;
$white-10: hsl(0deg 0% 100% / 10%) !default;
$white-05: hsl(0deg 0% 100% / 5%) !default;
$white-025: hsl(0deg 0% 100% / 2.5%) !default;
$white-0125: hsl(0deg 0% 100% / 1.3%) !default;
$dark-red: hsl(357deg 97% 46%) !default; // #e7040f
$red: hsl(3deg 100% 61%) !default; // #ff4136
$light-red: hsl(8deg 100% 68%) !default; // #ff725c
$orange: hsl(23deg 100% 50%) !default; // #ff6300
$gold: hsl(43deg 100% 50%) !default; // #ffb700
$yellow: hsl(51deg 100% 50%) !default; // #ffd700
$light-yellow: hsl(53deg 91% 82%) !default; // #fbf1a9
$purple: hsl(265deg 58% 41%) !default; // #5e2ca5
$light-purple: hsl(267deg 85% 67%) !default; // #a463f2
$dark-pink: hsl(320deg 100% 42%) !default; // #d5008f
$hot-pink: hsl(324deg 100% 63%) !default; // #ff41b4
$pink: hsl(324deg 100% 75%) !default; // #ff80cc
$light-pink: hsl(326deg 100% 82%) !default; // #ffa3d7
$dark-green: hsl(158deg 72% 27%) !default; // #137752
$green: #19a974 !default; // #19a974
$light-green: hsl(158deg 66% 77%) !default; // #9eebcf
$navy: hsl(216deg 100% 13%) !default; // #001b44
$dark-blue: hsl(214deg 100% 31%) !default; // #00449e
$blue: hsl(214deg 71% 54%) !default; // #357edd
$light-blue: hsl(209deg 100% 79%) !default; // #96ccff
$lightest-blue: hsl(203deg 100% 90%) !default; // #cdecff
$washed-blue: hsl(173deg 100% 98%) !default; // #f6fffe
$washed-green: hsl(157deg 84% 95%) !default; // #e8fdf5
$washed-yellow: hsl(51deg 100% 96%) !default; // #fffceb
$washed-red: hsl(0deg 100% 94%) !default; // #ffdfdf

// Custom Media Query Variables
$breakpoint-not-small: "screen and (min-width: 30em)" !default;
$breakpoint-medium: "screen and (min-width: 30em) and (max-width: 60em)" !default;
$breakpoint-large: "screen and (min-width: 60em)" !default;

// Empty starting value is requried to generate non-breakpoint classes.
$breakpoints: (
  "": "",
  "ns": $breakpoint-not-small,
  "m": $breakpoint-medium,
  "l": $breakpoint-large,
) !default;
