@use "border-style-mixin";
@use "breakpoint-gen-mixin";

/*

   BORDER STYLES
   Docs: http://tachyons.io/docs/themes/borders/

   Depends on base border module in _borders.css

   Base:
     b = border-style

   Modifiers:
     --none   = none
     --dotted = dotted
     --dashed = dashed
     --solid  = solid

 */
@include breakpoint-gen-mixin.generate-breakpoints {
  .b--dotted#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-style-mixin.b--dotted;
  }
  .b--dashed#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-style-mixin.b--dashed;
  }
  .b--solid#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-style-mixin.b--solid;
  }
  .b--none#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-style-mixin.b--none;
  }
}
