/*

   BORDER STYLES
   Docs: http://tachyons.io/docs/themes/borders/

   Depends on base border module in _borders.css

   Base:
     b = border-style

   Modifiers:
     --none   = none
     --dotted = dotted
     --dashed = dashed
     --solid  = solid

 */
@include generate-breakpoints {
  .b--dotted#{$bkpt-suffix} {
    @include b--dotted;
  }
  .b--dashed#{$bkpt-suffix} {
    @include b--dashed;
  }
  .b--solid#{$bkpt-suffix} {
    @include b--solid;
  }
  .b--none#{$bkpt-suffix} {
    @include b--none;
  }
}
