/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

@import "border-widths-mixin";

@include generateBreakpoints() {
  .bw0#{$breakpointKey} {
    @include bw0;
  }
  .bw1#{$breakpointKey} {
    @include bw1;
  }
  .bw2#{$breakpointKey} {
    @include bw2;
  }
  .bw3#{$breakpointKey} {
    @include bw3;
  }
  .bw4#{$breakpointKey} {
    @include bw4;
  }
  .bw5#{$breakpointKey} {
    @include bw5;
  }

  /* Resets */
  .bt-0#{$breakpointKey} {
    @include bt-0;
  }
  .br-0#{$breakpointKey} {
    @include br-0;
  }
  .bb-0#{$breakpointKey} {
    @include bb-0;
  }
  .bl-0#{$breakpointKey} {
    @include bl-0;
  }
}
