/*
   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name
*/

@include generate-breakpoints;
#{$bkpt-suffix} {
  .b--black#{$bkpt-suffix} {
    @include b--black;
  }
  .b--near-black#{$bkpt-suffix} {
    @include b--near-black;
  }
  .b--dark-gray#{$bkpt-suffix} {
    @include b--dark-gray;
  }
  .b--mid-gray#{$bkpt-suffix} {
    @include b--mid-gray;
  }
  .b--gray#{$bkpt-suffix} {
    @include b--gray;
  }
  .b--silver#{$bkpt-suffix} {
    @include b--silver;
  }
  .b--light-silver#{$bkpt-suffix} {
    @include b--light-silver;
  }
  .b--moon-gray#{$bkpt-suffix} {
    @include b--moon-gray;
  }
  .b--light-gray#{$bkpt-suffix} {
    @include b--light-gray;
  }
  .b--near-white#{$bkpt-suffix} {
    @include b--near-white;
  }
  .b--white#{$bkpt-suffix} {
    @include b--white;
  }

  .b--white-90#{$bkpt-suffix} {
    @include b--white-90;
  }
  .b--white-80#{$bkpt-suffix} {
    @include b--white-80;
  }
  .b--white-70#{$bkpt-suffix} {
    @include b--white-70;
  }
  .b--white-60#{$bkpt-suffix} {
    @include b--white-60;
  }
  .b--white-50#{$bkpt-suffix} {
    @include b--white-50;
  }
  .b--white-40#{$bkpt-suffix} {
    @include b--white-40;
  }
  .b--white-30#{$bkpt-suffix} {
    @include b--white-30;
  }
  .b--white-20#{$bkpt-suffix} {
    @include b--white-20;
  }
  .b--white-10#{$bkpt-suffix} {
    @include b--white-10;
  }
  .b--white-05#{$bkpt-suffix} {
    @include b--white-05;
  }
  .b--white-025#{$bkpt-suffix} {
    @include b--white-025;
  }
  .b--white-0125#{$bkpt-suffix} {
    @include b--white-0125;
  }

  .b--black-90#{$bkpt-suffix} {
    @include b--black-90;
  }
  .b--black-80#{$bkpt-suffix} {
    @include b--black-80;
  }
  .b--black-70#{$bkpt-suffix} {
    @include b--black-70;
  }
  .b--black-60#{$bkpt-suffix} {
    @include b--black-60;
  }
  .b--black-50#{$bkpt-suffix} {
    @include b--black-50;
  }
  .b--black-40#{$bkpt-suffix} {
    @include b--black-40;
  }
  .b--black-30#{$bkpt-suffix} {
    @include b--black-30;
  }
  .b--black-20#{$bkpt-suffix} {
    @include b--black-20;
  }
  .b--black-10#{$bkpt-suffix} {
    @include b--black-10;
  }
  .b--black-05#{$bkpt-suffix} {
    @include b--black-05;
  }
  .b--black-025#{$bkpt-suffix} {
    @include b--black-025;
  }
  .b--black-0125#{$bkpt-suffix} {
    @include b--black-0125;
  }

  .b--dark-red#{$bkpt-suffix} {
    @include b--dark-red;
  }
  .b--red#{$bkpt-suffix} {
    @include b--red;
  }
  .b--light-red#{$bkpt-suffix} {
    @include b--light-red;
  }
  .b--orange#{$bkpt-suffix} {
    @include b--orange;
  }
  .b--gold#{$bkpt-suffix} {
    @include b--gold;
  }
  .b--yellow#{$bkpt-suffix} {
    @include b--yellow;
  }
  .b--light-yellow#{$bkpt-suffix} {
    @include b--light-yellow;
  }
  .b--purple#{$bkpt-suffix} {
    @include b--purple;
  }
  .b--light-purple#{$bkpt-suffix} {
    @include b--light-purple;
  }
  .b--dark-pink#{$bkpt-suffix} {
    @include b--dark-pink;
  }
  .b--hot-pink#{$bkpt-suffix} {
    @include b--hot-pink;
  }
  .b--pink#{$bkpt-suffix} {
    @include b--pink;
  }
  .b--light-pink#{$bkpt-suffix} {
    @include b--light-pink;
  }
  .b--dark-green#{$bkpt-suffix} {
    @include b--dark-green;
  }
  .b--green#{$bkpt-suffix} {
    @include b--green;
  }
  .b--light-green#{$bkpt-suffix} {
    @include b--light-green;
  }
  .b--navy#{$bkpt-suffix} {
    @include b--navy;
  }
  .b--dark-blue#{$bkpt-suffix} {
    @include b--dark-blue;
  }
  .b--blue#{$bkpt-suffix} {
    @include b--blue;
  }
  .b--light-blue#{$bkpt-suffix} {
    @include b--light-blue;
  }
  .b--lightest-blue#{$bkpt-suffix} {
    @include b--lightest-blue;
  }
  .b--washed-blue#{$bkpt-suffix} {
    @include b--washed-blue;
  }
  .b--washed-green#{$bkpt-suffix} {
    @include b--washed-green;
  }
  .b--washed-yellow#{$bkpt-suffix} {
    @include b--washed-yellow;
  }
  .b--washed-red#{$bkpt-suffix} {
    @include b--washed-red;
  }

  .b--transparent#{$bkpt-suffix} {
    @include b--transparent;
  }
  .b--inherit#{$bkpt-suffix} {
    @include b--inherit;
  }
}
