@use "border-radius-mixin";
@use "breakpoint-gen-mixin";

/*

   BORDER RADIUS
   Docs: http://tachyons.io/docs/themes/border-radius/

   Base:
     br   = border-radius

   Modifiers:
     0    = 0/none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale

   Literal values:
     -100 = 100%
     -pill = 9999px

*/
@include breakpoint-gen-mixin.generate-breakpoints {
  .br0#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br0;
  }
  .br1#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br1;
  }
  .br2#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br2;
  }
  .br3#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br3;
  }
  .br4#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br4;
  }
  .br-100#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br-100;
  }
  .br-pill#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br-pill;
  }
  .br--bottom#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br--bottom;
  }
  .br--top#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br--top;
  }
  .br--right#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br--right;
  }
  .br--left#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-radius-mixin.br--left;
  }
}
