/*
    BORDERS
    Docs: http://tachyons.io/docs/themes/borders/

    Base:
      b = border

    Modifiers:
      a = all
      t = top
      r = right
      b = bottom
      l = left
      n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

@import "borders-mixin";

@include generateBreakpoints() {
  .ba#{$breakpointKey} {
    @include ba;
  }
  .bt#{$breakpointKey} {
    @include bt;
  }
  .br#{$breakpointKey} {
    @include br;
  }
  .bb#{$breakpointKey} {
    @include bb;
  }
  .bl#{$breakpointKey} {
    @include bl;
  }
  .bn#{$breakpointKey} {
    @include bn;
  }

  .ba#{$breakpointKey},
  .bt#{$breakpointKey},
  .br#{$breakpointKey},
  .bb#{$breakpointKey},
  .bl#{$breakpointKey} {
    border-color: currentColor;
  }
}
