/*
   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

    Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

@import "border-colors-mixin";

@include generateBreakpoints() #{$breakpointKey} {
  .b--black#{$breakpointKey} {
    @include b--black;
  }
  .b--near-black#{$breakpointKey} {
    @include b--near-black;
  }
  .b--dark-gray#{$breakpointKey} {
    @include b--dark-gray;
  }
  .b--mid-gray#{$breakpointKey} {
    @include b--mid-gray;
  }
  .b--gray#{$breakpointKey} {
    @include b--gray;
  }
  .b--silver#{$breakpointKey} {
    @include b--silver;
  }
  .b--light-silver#{$breakpointKey} {
    @include b--light-silver;
  }
  .b--moon-gray#{$breakpointKey} {
    @include b--moon-gray;
  }
  .b--light-gray#{$breakpointKey} {
    @include b--light-gray;
  }
  .b--near-white#{$breakpointKey} {
    @include b--near-white;
  }
  .b--white#{$breakpointKey} {
    @include b--white;
  }

  .b--white-90#{$breakpointKey} {
    @include b--white-90;
  }
  .b--white-80#{$breakpointKey} {
    @include b--white-80;
  }
  .b--white-70#{$breakpointKey} {
    @include b--white-70;
  }
  .b--white-60#{$breakpointKey} {
    @include b--white-60;
  }
  .b--white-50#{$breakpointKey} {
    @include b--white-50;
  }
  .b--white-40#{$breakpointKey} {
    @include b--white-40;
  }
  .b--white-30#{$breakpointKey} {
    @include b--white-30;
  }
  .b--white-20#{$breakpointKey} {
    @include b--white-20;
  }
  .b--white-10#{$breakpointKey} {
    @include b--white-10;
  }
  .b--white-05#{$breakpointKey} {
    @include b--white-05;
  }
  .b--white-025#{$breakpointKey} {
    @include b--white-025;
  }
  .b--white-0125#{$breakpointKey} {
    @include b--white-0125;
  }

  .b--black-90#{$breakpointKey} {
    @include b--black-90;
  }
  .b--black-80#{$breakpointKey} {
    @include b--black-80;
  }
  .b--black-70#{$breakpointKey} {
    @include b--black-70;
  }
  .b--black-60#{$breakpointKey} {
    @include b--black-60;
  }
  .b--black-50#{$breakpointKey} {
    @include b--black-50;
  }
  .b--black-40#{$breakpointKey} {
    @include b--black-40;
  }
  .b--black-30#{$breakpointKey} {
    @include b--black-30;
  }
  .b--black-20#{$breakpointKey} {
    @include b--black-20;
  }
  .b--black-10#{$breakpointKey} {
    @include b--black-10;
  }
  .b--black-05#{$breakpointKey} {
    @include b--black-05;
  }
  .b--black-025#{$breakpointKey} {
    @include b--black-025;
  }
  .b--black-0125#{$breakpointKey} {
    @include b--black-0125;
  }

  .b--dark-red#{$breakpointKey} {
    @include b--dark-red;
  }
  .b--red#{$breakpointKey} {
    @include b--red;
  }
  .b--light-red#{$breakpointKey} {
    @include b--light-red;
  }
  .b--orange#{$breakpointKey} {
    @include b--orange;
  }
  .b--gold#{$breakpointKey} {
    @include b--gold;
  }
  .b--yellow#{$breakpointKey} {
    @include b--yellow;
  }
  .b--light-yellow#{$breakpointKey} {
    @include b--light-yellow;
  }
  .b--purple#{$breakpointKey} {
    @include b--purple;
  }
  .b--light-purple#{$breakpointKey} {
    @include b--light-purple;
  }
  .b--dark-pink#{$breakpointKey} {
    @include b--dark-pink;
  }
  .b--hot-pink#{$breakpointKey} {
    @include b--hot-pink;
  }
  .b--pink#{$breakpointKey} {
    @include b--pink;
  }
  .b--light-pink#{$breakpointKey} {
    @include b--light-pink;
  }
  .b--dark-green#{$breakpointKey} {
    @include b--dark-green;
  }
  .b--green#{$breakpointKey} {
    @include b--green;
  }
  .b--light-green#{$breakpointKey} {
    @include b--light-green;
  }
  .b--navy#{$breakpointKey} {
    @include b--navy;
  }
  .b--dark-blue#{$breakpointKey} {
    @include b--dark-blue;
  }
  .b--blue#{$breakpointKey} {
    @include b--blue;
  }
  .b--light-blue#{$breakpointKey} {
    @include b--light-blue;
  }
  .b--lightest-blue#{$breakpointKey} {
    @include b--lightest-blue;
  }
  .b--washed-blue#{$breakpointKey} {
    @include b--washed-blue;
  }
  .b--washed-green#{$breakpointKey} {
    @include b--washed-green;
  }
  .b--washed-yellow#{$breakpointKey} {
    @include b--washed-yellow;
  }
  .b--washed-red#{$breakpointKey} {
    @include b--washed-red;
  }

  .b--transparent#{$breakpointKey} {
    @include b--transparent;
  }
  .b--inherit#{$breakpointKey} {
    @include b--inherit;
  }
  .b--initial#{$breakpointKey} {
    @include b--initial;
  }
  .b--unset#{$breakpointKey} {
    @include b--unset;
  }
}
