@use "border-widths-mixin";

@use "breakpoint-gen-mixin";

/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

*/
@include breakpoint-gen-mixin.generate-breakpoints {
  .bw0#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-widths-mixin.bw0;
  }
  .bw1#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-widths-mixin.bw1;
  }
  .bw2#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-widths-mixin.bw2;
  }
  .bw3#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-widths-mixin.bw3;
  }
  .bw4#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-widths-mixin.bw4;
  }
  .bw5#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-widths-mixin.bw5;
  }

  /* Resets */
  .bt-0#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-widths-mixin.bt-0;
  }
  .br-0#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-widths-mixin.br-0;
  }
  .bb-0#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-widths-mixin.bb-0;
  }
  .bl-0#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include border-widths-mixin.bl-0;
  }
}
