/*

    BORDERS
    Docs: http://tachyons.io/docs/themes/borders/

    Base:
      b = border

    Modifiers:
      a = all
      t = top
      r = right
      b = bottom
      l = left
      n = none

*/
@include generate-breakpoints {
  .ba#{$bkpt-suffix} {
    @include ba;
  }
  .bt#{$bkpt-suffix} {
    @include bt;
  }
  .br#{$bkpt-suffix} {
    @include br;
  }
  .bb#{$bkpt-suffix} {
    @include bb;
  }
  .bl#{$bkpt-suffix} {
    @include bl;
  }
  .bn#{$bkpt-suffix} {
    @include bn;
  }

  .ba#{$bkpt-suffix},
  .bt#{$bkpt-suffix},
  .br#{$bkpt-suffix},
  .bb#{$bkpt-suffix},
  .bl#{$bkpt-suffix} {
    border-color: currentcolor;
  }
}
