@use "variables";

:root {
  --bw0: #{variables.$border-width-none};
  --bw1: #{variables.$border-width-1};
  --bw2: #{variables.$border-width-2};
  --bw3: #{variables.$border-width-3};
  --bw4: #{variables.$border-width-4};
  --bw5: #{variables.$border-width-5};
}
