/*
   BORDER STYLES
   Docs: http://tachyons.io/docs/themes/borders/

   Depends on base border module in _borders.css

   Base:
     b = border-style

   Modifiers:
     --none   = none
     --dotted = dotted
     --dashed = dashed
     --solid  = solid

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

@import "border-style-mixin";

@include generateBreakpoints() {
  .b--dotted#{$breakpointKey} {
    @include b--dotted;
  }
  .b--dashed#{$breakpointKey} {
    @include b--dashed;
  }
  .b--solid#{$breakpointKey} {
    @include b--solid;
  }
  .b--none#{$breakpointKey} {
    @include b--none;
  }
}
