@use "borders-mixin";

@use "breakpoint-gen-mixin";

/*

    BORDERS
    Docs: http://tachyons.io/docs/themes/borders/

    Base:
      b = border

    Modifiers:
      a = all
      t = top
      r = right
      b = bottom
      l = left
      n = none

*/
@include breakpoint-gen-mixin.generate-breakpoints {
  .ba#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include borders-mixin.ba;
  }
  .bt#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include borders-mixin.bt;
  }
  .br#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include borders-mixin.br;
  }
  .bb#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include borders-mixin.bb;
  }
  .bl#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include borders-mixin.bl;
  }
  .bn#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include borders-mixin.bn;
  }

  .ba#{breakpoint-gen-mixin.$bkpt-suffix},
  .bt#{breakpoint-gen-mixin.$bkpt-suffix},
  .br#{breakpoint-gen-mixin.$bkpt-suffix},
  .bb#{breakpoint-gen-mixin.$bkpt-suffix},
  .bl#{breakpoint-gen-mixin.$bkpt-suffix} {
    border-color: currentcolor;
  }
}
