@mixin bw0 {
  border-width: var(border-width-none);
}
@mixin bw1 {
  border-width: var(border-width-1);
}
@mixin bw2 {
  border-width: var(border-width-2);
}
@mixin bw3 {
  border-width: var(border-width-3);
}
@mixin bw4 {
  border-width: var(border-width-4);
}
@mixin bw5 {
  border-width: var(border-width-5);
}
@mixin bt-0 {
  border-top-width: var(border-width-none);
}
@mixin br-0 {
  border-right-width: var(border-width-none);
}
@mixin bb-0 {
  border-bottom-width: var(border-width-none);
}
@mixin bl-0 {
  border-left-width: var(border-width-none);
}
