/*
  BOX-SHADOW
  Docs: http://tachyons.io/docs/themes/box-shadow/
 */

:root {
  --box-shadow-1: #{$box-shadow-1};
  --box-shadow-2: #{$box-shadow-2};
  --box-shadow-3: #{$box-shadow-3};
  --box-shadow-4: #{$box-shadow-4};
  --box-shadow-5: #{$box-shadow-5};
}
