@use "variables";

:root {
  --box-shadow-1: #{variables.$box-shadow-1};
  --box-shadow-2: #{variables.$box-shadow-2};
  --box-shadow-3: #{variables.$box-shadow-3};
  --box-shadow-4: #{variables.$box-shadow-4};
  --box-shadow-5: #{variables.$box-shadow-5};
}
