@mixin shadow-1 {
  box-shadow: var(--box-shadow-1);
}

@mixin shadow-2 {
  box-shadow: var(--box-shadow-2);
}

@mixin shadow-3 {
  box-shadow: var(--box-shadow-3);
}

@mixin shadow-4 {
  box-shadow: var(--box-shadow-4);
}

@mixin shadow-5 {
  box-shadow: var(--box-shadow-5);
}
