@use "variables";

// Color CSS Custom Properties
// All other custom property declarations appear alongside their respective modules.
:root {
  --black: #{variables.$black};
  --near-black: #{variables.$near-black};
  --dark-gray: #{variables.$dark-gray};
  --mid-gray: #{variables.$mid-gray};
  --gray: #{variables.$gray};
  --silver: #{variables.$silver};
  --light-silver: #{variables.$light-silver};
  --moon-gray: #{variables.$moon-gray};
  --light-gray: #{variables.$light-gray};
  --near-white: #{variables.$near-white};
  --white: #{variables.$white};
  --transparent: #{variables.$transparent};
  --black-90: #{variables.$black-90};
  --black-80: #{variables.$black-80};
  --black-70: #{variables.$black-70};
  --black-60: #{variables.$black-60};
  --black-50: #{variables.$black-50};
  --black-40: #{variables.$black-40};
  --black-30: #{variables.$black-30};
  --black-20: #{variables.$black-20};
  --black-10: #{variables.$black-10};
  --black-05: #{variables.$black-05};
  --black-025: #{variables.$black-025};
  --black-0125: #{variables.$black-0125};
  --white-90: #{variables.$white-90};
  --white-80: #{variables.$white-80};
  --white-70: #{variables.$white-70};
  --white-60: #{variables.$white-60};
  --white-50: #{variables.$white-50};
  --white-40: #{variables.$white-40};
  --white-30: #{variables.$white-30};
  --white-20: #{variables.$white-20};
  --white-10: #{variables.$white-10};
  --white-05: #{variables.$white-05};
  --white-025: #{variables.$white-025};
  --white-0125: #{variables.$white-0125};
  --dark-red: #{variables.$dark-red};
  --red: #{variables.$red};
  --light-red: #{variables.$light-red};
  --orange: #{variables.$orange};
  --gold: #{variables.$gold};
  --yellow: #{variables.$yellow};
  --light-yellow: #{variables.$light-yellow};
  --purple: #{variables.$purple};
  --light-purple: #{variables.$light-purple};
  --dark-pink: #{variables.$dark-pink};
  --hot-pink: #{variables.$hot-pink};
  --pink: #{variables.$pink};
  --light-pink: #{variables.$light-pink};
  --dark-green: #{variables.$dark-green};
  --green: #{variables.$green};
  --light-green: #{variables.$light-green};
  --navy: #{variables.$navy};
  --dark-blue: #{variables.$dark-blue};
  --blue: #{variables.$blue};
  --light-blue: #{variables.$light-blue};
  --lightest-blue: #{variables.$lightest-blue};
  --washed-blue: #{variables.$washed-blue};
  --washed-green: #{variables.$washed-green};
  --washed-yellow: #{variables.$washed-yellow};
  --washed-red: #{variables.$washed-red};
}
