/*

   COORDINATES
   Docs: http://tachyons.io/docs/layout/position/

   Use in combination with the position module.

   Base:
     top
     bottom
     right
     left

   Modifiers:
     -0  = literal value 0
     -1  = literal value 1
     -2  = literal value 2
     --1 = literal value -1
     --2 = literal value -2

*/
@include generate-breakpoints {
  .top-0#{$bkpt-suffix} {
    @include top-0;
  }

  .right-0#{$bkpt-suffix} {
    @include right-0;
  }

  .bottom-0#{$bkpt-suffix} {
    @include bottom-0;
  }

  .left-0#{$bkpt-suffix} {
    @include left-0;
  }

  .top-1#{$bkpt-suffix} {
    @include top-1;
  }

  .right-1#{$bkpt-suffix} {
    @include right-1;
  }

  .bottom-1#{$bkpt-suffix} {
    @include bottom-1;
  }

  .left-1#{$bkpt-suffix} {
    @include left-1;
  }

  .top-2#{$bkpt-suffix} {
    @include top-2;
  }

  .right-2#{$bkpt-suffix} {
    @include right-2;
  }

  .bottom-2#{$bkpt-suffix} {
    @include bottom-2;
  }

  .left-2#{$bkpt-suffix} {
    @include left-2;
  }

  .top--1#{$bkpt-suffix} {
    @include top--1;
  }

  .right--1#{$bkpt-suffix} {
    @include right--1;
  }

  .bottom--1#{$bkpt-suffix} {
    @include bottom--1;
  }

  .left--1#{$bkpt-suffix} {
    @include left--1;
  }

  .top--2#{$bkpt-suffix} {
    @include top--2;
  }

  .right--2#{$bkpt-suffix} {
    @include right--2;
  }

  .bottom--2#{$bkpt-suffix} {
    @include bottom--2;
  }

  .left--2#{$bkpt-suffix} {
    @include left--2;
  }

  .absolute--fill#{$bkpt-suffix} {
    @include absolute--fill;
  }
}
