@use "breakpoint-gen-mixin";

@use "coordinates-mixin";

/*

   COORDINATES
   Docs: http://tachyons.io/docs/layout/position/

   Use in combination with the position module.

   Base:
     top
     bottom
     right
     left

   Modifiers:
     -0  = literal value 0
     -1  = literal value 1
     -2  = literal value 2
     --1 = literal value -1
     --2 = literal value -2

*/
@include breakpoint-gen-mixin.generate-breakpoints {
  .top-0#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.top-0;
  }

  .right-0#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.right-0;
  }

  .bottom-0#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.bottom-0;
  }

  .left-0#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.left-0;
  }

  .top-1#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.top-1;
  }

  .right-1#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.right-1;
  }

  .bottom-1#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.bottom-1;
  }

  .left-1#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.left-1;
  }

  .top-2#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.top-2;
  }

  .right-2#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.right-2;
  }

  .bottom-2#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.bottom-2;
  }

  .left-2#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.left-2;
  }

  .top--1#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.top--1;
  }

  .right--1#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.right--1;
  }

  .bottom--1#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.bottom--1;
  }

  .left--1#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.left--1;
  }

  .top--2#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.top--2;
  }

  .right--2#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.right--2;
  }

  .bottom--2#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.bottom--2;
  }

  .left--2#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.left--2;
  }

  .absolute--fill#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include coordinates-mixin.absolute--fill;
  }
}
