/*
   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    tr    = table-row
    tcol  = table-column
    tcolg = table-column-group
*/
@include generate-breakpoints {
  .dn#{$bkpt-suffix} {
    @include dn;
  }
  .di#{$bkpt-suffix} {
    @include di;
  }
  .db#{$bkpt-suffix} {
    @include db;
  }
  .dib#{$bkpt-suffix} {
    @include dib;
  }
  .dit#{$bkpt-suffix} {
    @include dit;
  }
  .dt#{$bkpt-suffix} {
    @include dt;
  }
  .dtc#{$bkpt-suffix} {
    @include dtc;
  }
  .dt-row#{$bkpt-suffix} {
    @include dt-row;
  }
  .dt-row-group#{$bkpt-suffix} {
    @include dt-row-group;
  }
  .dt-column#{$bkpt-suffix} {
    @include dt-column;
  }
  .dt-column-group#{$bkpt-suffix} {
    @include dt-column-group;
  }

  /*
    This will set table to full width and then
    all cells will be equal width
  */
  .dt--fixed#{$bkpt-suffix} {
    @include dt--fixed;
  }
}
