@use "breakpoint-gen-mixin";
@use "display-mixin";

/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    tr    = table-row
    tcol  = table-column
    tcolg = table-column-group

*/
@include breakpoint-gen-mixin.generate-breakpoints {
  .dn#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.dn;
  }
  .di#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.di;
  }
  .db#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.db;
  }
  .dib#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.dib;
  }
  .dit#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.dit;
  }
  .dt#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.dt;
  }
  .dtc#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.dtc;
  }
  .dt-row#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.dt-row;
  }
  .dt-row-group#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.dt-row-group;
  }
  .dt-column#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.dt-column;
  }
  .dt-column-group#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.dt-column-group;
  }
  /*
    This will set table to full width and then
    all cells will be equal width
  */
  .dt--fixed#{breakpoint-gen-mixin.$bkpt-suffix} {
    @include display-mixin.dt--fixed;
  }
}
