/*
   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    tr    = table-row
    tcol  = table-column
    tcolg = table-column-group

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

@import "display-mixin";

@include generateBreakpoints() {
  .dn#{$breakpointKey} {
    @include dn;
  }
  .di#{$breakpointKey} {
    @include di;
  }
  .db#{$breakpointKey} {
    @include db;
  }
  .dib#{$breakpointKey} {
    @include dib;
  }
  .dit#{$breakpointKey} {
    @include dit;
  }
  .dt#{$breakpointKey} {
    @include dt;
  }
  .dtc#{$breakpointKey} {
    @include dtc;
  }
  .dt-row#{$breakpointKey} {
    @include dt-row;
  }
  .dt-row-group#{$breakpointKey} {
    @include dt-row-group;
  }
  .dt-column#{$breakpointKey} {
    @include dt-column;
  }
  .dt-column-group#{$breakpointKey} {
    @include dt-column-group;
  }

  /*
    This will set table to full width and then
    all cells will be equal width
  */
  .dt--fixed#{$breakpointKey} {
    @include dt--fixed;
  }
}
