/*
  FLEXBOX
*/
@include generate-breakpoints {
  .flex#{$bkpt-suffix} {
    @include flex;
  }
  .inline-flex#{$bkpt-suffix} {
    @include inline-flex;
  }

  /* 1. Fix for Chrome 44 bug.
    https://code.google.com/p/chromium/issues/detail?id=506893
  */
  .flex-auto#{$bkpt-suffix} {
    @include flex-auto;

    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }

  .flex-none#{$bkpt-suffix} {
    @include flex-none;
  }

  .flex-column#{$bkpt-suffix} {
    @include flex-column;
  }
  .flex-row#{$bkpt-suffix} {
    @include flex-row;
  }
  .flex-wrap#{$bkpt-suffix} {
    @include flex-wrap;
  }
  .flex-nowrap#{$bkpt-suffix} {
    @include flex-nowrap;
  }
  .flex-wrap-reverse#{$bkpt-suffix} {
    @include flex-wrap-reverse;
  }
  .flex-column-reverse#{$bkpt-suffix} {
    @include flex-column-reverse;
  }
  .flex-row-reverse#{$bkpt-suffix} {
    @include flex-row-reverse;
  }

  .items-start#{$bkpt-suffix} {
    @include items-start;
  }
  .items-end#{$bkpt-suffix} {
    @include items-end;
  }
  .items-center#{$bkpt-suffix} {
    @include items-center;
  }
  .items-baseline#{$bkpt-suffix} {
    @include items-baseline;
  }
  .items-stretch#{$bkpt-suffix} {
    @include items-stretch;
  }

  .self-start#{$bkpt-suffix} {
    @include self-start;
  }
  .self-end#{$bkpt-suffix} {
    @include self-end;
  }
  .self-center#{$bkpt-suffix} {
    @include self-center;
  }
  .self-baseline#{$bkpt-suffix} {
    @include self-baseline;
  }
  .self-stretch#{$bkpt-suffix} {
    @include self-stretch;
  }

  .justify-start#{$bkpt-suffix} {
    @include justify-start;
  }
  .justify-end#{$bkpt-suffix} {
    @include justify-end;
  }
  .justify-center#{$bkpt-suffix} {
    @include justify-center;
  }
  .justify-between#{$bkpt-suffix} {
    @include justify-between;
  }
  .justify-around#{$bkpt-suffix} {
    @include justify-around;
  }

  .content-start#{$bkpt-suffix} {
    @include content-start;
  }
  .content-end#{$bkpt-suffix} {
    @include content-end;
  }
  .content-center#{$bkpt-suffix} {
    @include content-center;
  }
  .content-between#{$bkpt-suffix} {
    @include content-between;
  }
  .content-around#{$bkpt-suffix} {
    @include content-around;
  }
  .content-stretch#{$bkpt-suffix} {
    @include content-stretch;
  }

  .order-0#{$bkpt-suffix} {
    @include order-0;
  }
  .order-1#{$bkpt-suffix} {
    @include order-1;
  }
  .order-2#{$bkpt-suffix} {
    @include order-2;
  }
  .order-3#{$bkpt-suffix} {
    @include order-3;
  }
  .order-4#{$bkpt-suffix} {
    @include order-4;
  }
  .order-5#{$bkpt-suffix} {
    @include order-5;
  }
  .order-6#{$bkpt-suffix} {
    @include order-6;
  }
  .order-7#{$bkpt-suffix} {
    @include order-7;
  }
  .order-8#{$bkpt-suffix} {
    @include order-8;
  }
  .order-last#{$bkpt-suffix} {
    @include order-last;
  }

  .flex-grow-0#{$bkpt-suffix} {
    @include flex-grow-0;
  }
  .flex-grow-1#{$bkpt-suffix} {
    @include flex-grow-1;
  }

  .flex-shrink-0#{$bkpt-suffix} {
    @include flex-shrink-0;
  }
  .flex-shrink-1#{$bkpt-suffix} {
    @include flex-shrink-1;
  }
}
