@mixin sans-serif {
  font-family: var(--sans-serif);
}

@mixin serif {
  font-family: var(--serif);
}

@mixin system-sans-serif {
  font-family: sans-serif;
}

@mixin system-serif {
  font-family: serif;
}

@mixin code {
  font-family: var(--monospace);
}

@mixin courier {
  font-family: "Courier Next", courier, monospace;
}

@mixin helvetica {
  font-family: "helvetica neue", helvetica, sans-serif;
}

@mixin avenir {
  font-family: "avenir next", avenir, sans-serif;
}

@mixin athelas {
  font-family: athelas, georgia, serif;
}

@mixin georgia {
  font-family: georgia, serif;
}

@mixin times {
  font-family: times, serif;
}

@mixin bodoni {
  font-family: "Bodoni MT", serif;
}

@mixin calisto {
  font-family: "Calisto MT", serif;
}

@mixin garamond {
  font-family: garamond, serif;
}

@mixin baskerville {
  font-family: baskerville, serif;
}
