@use "variables";

:root {
  --height-1: #{variables.$height-1};
  --height-2: #{variables.$height-2};
  --height-3: #{variables.$height-3};
  --height-4: #{variables.$height-4};
  --height-5: #{variables.$height-5};
}
