/*
   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6st step in width scale
     7 = 7nd step in width scale
     8 = 8rd step in width scale
     9 = 9th step in width scale

     -100 = literal value 100%

     -none  = string value none

    Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

/* Max Width Percentages */

@mixin mw-100 {
  max-width: 100%;
}

/* Max Width Scale */

@mixin mw1 {
  max-width: $max-width-1;
}
@mixin mw2 {
  max-width: $max-width-2;
}
@mixin mw3 {
  max-width: $max-width-3;
}
@mixin mw4 {
  max-width: $max-width-4;
}
@mixin mw5 {
  max-width: $max-width-5;
}
@mixin mw6 {
  max-width: $max-width-6;
}
@mixin mw7 {
  max-width: $max-width-7;
}
@mixin mw8 {
  max-width: $max-width-8;
}
@mixin mw9 {
  max-width: $max-width-9;
}

/* Max Width String Properties */
@mixin mw-none {
  max-width: none;
}
