:root {
  --max-width-1: #{$max-width-1};
  --max-width-2: #{$max-width-2};
  --max-width-3: #{$max-width-3};
  --max-width-4: #{$max-width-4};
  --max-width-5: #{$max-width-5};
  --max-width-6: #{$max-width-6};
  --max-width-7: #{$max-width-7};
  --max-width-8: #{$max-width-8};
  --max-width-9: #{$max-width-9};
}
