@mixin rotate-45 {
  transform: rotate(45deg);
}

@mixin rotate-90 {
  transform: rotate(90deg);
}

@mixin rotate-135 {
  transform: rotate(135deg);
}

@mixin rotate-180 {
  transform: rotate(180deg);
}

@mixin rotate-225 {
  transform: rotate(225deg);
}

@mixin rotate-270 {
  transform: rotate(270deg);
}

@mixin rotate-315 {
  transform: rotate(315deg);
}
