@use "variables";

@mixin hover-black {
  &:hover,
  &:focus {
    color: variables.$black;
  }
}

@mixin hover-near-black {
  &:hover,
  &:focus {
    color: variables.$near-black;
  }
}

@mixin hover-dark-gray {
  &:hover,
  &:focus {
    color: variables.$dark-gray;
  }
}

@mixin hover-mid-gray {
  &:hover,
  &:focus {
    color: variables.$mid-gray;
  }
}

@mixin hover-gray {
  &:hover,
  &:focus {
    color: variables.$gray;
  }
}

@mixin hover-silver {
  &:hover,
  &:focus {
    color: variables.$silver;
  }
}

@mixin hover-light-silver {
  &:hover,
  &:focus {
    color: variables.$light-silver;
  }
}

@mixin hover-moon-gray {
  &:hover,
  &:focus {
    color: variables.$moon-gray;
  }
}

@mixin hover-light-gray {
  &:hover,
  &:focus {
    color: variables.$light-gray;
  }
}

@mixin hover-near-white {
  &:hover,
  &:focus {
    color: variables.$near-white;
  }
}

@mixin hover-white {
  &:hover,
  &:focus {
    color: variables.$white;
  }
}

@mixin hover-black-90 {
  &:hover,
  &:focus {
    color: variables.$black-90;
  }
}

@mixin hover-black-80 {
  &:hover,
  &:focus {
    color: variables.$black-80;
  }
}

@mixin hover-black-70 {
  &:hover,
  &:focus {
    color: variables.$black-70;
  }
}

@mixin hover-black-60 {
  &:hover,
  &:focus {
    color: variables.$black-60;
  }
}

@mixin hover-black-50 {
  &:hover,
  &:focus {
    color: variables.$black-50;
  }
}

@mixin hover-black-40 {
  &:hover,
  &:focus {
    color: variables.$black-40;
  }
}

@mixin hover-black-30 {
  &:hover,
  &:focus {
    color: variables.$black-30;
  }
}

@mixin hover-black-20 {
  &:hover,
  &:focus {
    color: variables.$black-20;
  }
}

@mixin hover-black-10 {
  &:hover,
  &:focus {
    color: variables.$black-10;
  }
}

@mixin hover-white-90 {
  &:hover,
  &:focus {
    color: variables.$white-90;
  }
}

@mixin hover-white-80 {
  &:hover,
  &:focus {
    color: variables.$white-80;
  }
}

@mixin hover-white-70 {
  &:hover,
  &:focus {
    color: variables.$white-70;
  }
}

@mixin hover-white-60 {
  &:hover,
  &:focus {
    color: variables.$white-60;
  }
}

@mixin hover-white-50 {
  &:hover,
  &:focus {
    color: variables.$white-50;
  }
}

@mixin hover-white-40 {
  &:hover,
  &:focus {
    color: variables.$white-40;
  }
}

@mixin hover-white-30 {
  &:hover,
  &:focus {
    color: variables.$white-30;
  }
}

@mixin hover-white-20 {
  &:hover,
  &:focus {
    color: variables.$white-20;
  }
}

@mixin hover-white-10 {
  &:hover,
  &:focus {
    color: variables.$white-10;
  }
}

@mixin hover-inherit {
  &:hover,
  &:focus {
    color: inherit;
  }
}

@mixin hover-bg-black {
  &:hover,
  &:focus {
    background-color: variables.$black;
  }
}

@mixin hover-bg-near-black {
  &:hover,
  &:focus {
    background-color: variables.$near-black;
  }
}

@mixin hover-bg-dark-gray {
  &:hover,
  &:focus {
    background-color: variables.$dark-gray;
  }
}

@mixin hover-bg-mid-gray {
  &:hover,
  &:focus {
    background-color: variables.$mid-gray;
  }
}

@mixin hover-bg-gray {
  &:hover,
  &:focus {
    background-color: variables.$gray;
  }
}

@mixin hover-bg-silver {
  &:hover,
  &:focus {
    background-color: variables.$silver;
  }
}

@mixin hover-bg-light-silver {
  &:hover,
  &:focus {
    background-color: variables.$light-silver;
  }
}

@mixin hover-bg-moon-gray {
  &:hover,
  &:focus {
    background-color: variables.$moon-gray;
  }
}

@mixin hover-bg-light-gray {
  &:hover,
  &:focus {
    background-color: variables.$light-gray;
  }
}

@mixin hover-bg-near-white {
  &:hover,
  &:focus {
    background-color: variables.$near-white;
  }
}

@mixin hover-bg-white {
  &:hover,
  &:focus {
    background-color: variables.$white;
  }
}

@mixin hover-bg-transparent {
  &:hover,
  &:focus {
    background-color: variables.$transparent;
  }
}

@mixin hover-bg-black-90 {
  &:hover,
  &:focus {
    background-color: variables.$black-90;
  }
}

@mixin hover-bg-black-80 {
  &:hover,
  &:focus {
    background-color: variables.$black-80;
  }
}

@mixin hover-bg-black-70 {
  &:hover,
  &:focus {
    background-color: variables.$black-70;
  }
}

@mixin hover-bg-black-60 {
  &:hover,
  &:focus {
    background-color: variables.$black-60;
  }
}

@mixin hover-bg-black-50 {
  &:hover,
  &:focus {
    background-color: variables.$black-50;
  }
}

@mixin hover-bg-black-40 {
  &:hover,
  &:focus {
    background-color: variables.$black-40;
  }
}

@mixin hover-bg-black-30 {
  &:hover,
  &:focus {
    background-color: variables.$black-30;
  }
}

@mixin hover-bg-black-20 {
  &:hover,
  &:focus {
    background-color: variables.$black-20;
  }
}

@mixin hover-bg-black-10 {
  &:hover,
  &:focus {
    background-color: variables.$black-10;
  }
}

@mixin hover-bg-white-90 {
  &:hover,
  &:focus {
    background-color: variables.$white-90;
  }
}

@mixin hover-bg-white-80 {
  &:hover,
  &:focus {
    background-color: variables.$white-80;
  }
}

@mixin hover-bg-white-70 {
  &:hover,
  &:focus {
    background-color: variables.$white-70;
  }
}

@mixin hover-bg-white-60 {
  &:hover,
  &:focus {
    background-color: variables.$white-60;
  }
}

@mixin hover-bg-white-50 {
  &:hover,
  &:focus {
    background-color: variables.$white-50;
  }
}

@mixin hover-bg-white-40 {
  &:hover,
  &:focus {
    background-color: variables.$white-40;
  }
}

@mixin hover-bg-white-30 {
  &:hover,
  &:focus {
    background-color: variables.$white-30;
  }
}

@mixin hover-bg-white-20 {
  &:hover,
  &:focus {
    background-color: variables.$white-20;
  }
}

@mixin hover-bg-white-10 {
  &:hover,
  &:focus {
    background-color: variables.$white-10;
  }
}

@mixin hover-dark-red {
  &:hover,
  &:focus {
    color: variables.$dark-red;
  }
}

@mixin hover-red {
  &:hover,
  &:focus {
    color: variables.$red;
  }
}

@mixin hover-light-red {
  &:hover,
  &:focus {
    color: variables.$light-red;
  }
}

@mixin hover-orange {
  &:hover,
  &:focus {
    color: variables.$orange;
  }
}

@mixin hover-gold {
  &:hover,
  &:focus {
    color: variables.$gold;
  }
}

@mixin hover-yellow {
  &:hover,
  &:focus {
    color: variables.$yellow;
  }
}

@mixin hover-light-yellow {
  &:hover,
  &:focus {
    color: variables.$light-yellow;
  }
}

@mixin hover-purple {
  &:hover,
  &:focus {
    color: variables.$purple;
  }
}

@mixin hover-light-purple {
  &:hover,
  &:focus {
    color: variables.$light-purple;
  }
}

@mixin hover-dark-pink {
  &:hover,
  &:focus {
    color: variables.$dark-pink;
  }
}

@mixin hover-hot-pink {
  &:hover,
  &:focus {
    color: variables.$hot-pink;
  }
}

@mixin hover-pink {
  &:hover,
  &:focus {
    color: variables.$pink;
  }
}

@mixin hover-light-pink {
  &:hover,
  &:focus {
    color: variables.$light-pink;
  }
}

@mixin hover-dark-green {
  &:hover,
  &:focus {
    color: variables.$dark-green;
  }
}

@mixin hover-green {
  &:hover,
  &:focus {
    color: variables.$green;
  }
}

@mixin hover-light-green {
  &:hover,
  &:focus {
    color: variables.$light-green;
  }
}

@mixin hover-navy {
  &:hover,
  &:focus {
    color: variables.$navy;
  }
}

@mixin hover-dark-blue {
  &:hover,
  &:focus {
    color: variables.$dark-blue;
  }
}

@mixin hover-blue {
  &:hover,
  &:focus {
    color: variables.$blue;
  }
}

@mixin hover-light-blue {
  &:hover,
  &:focus {
    color: variables.$light-blue;
  }
}

@mixin hover-lightest-blue {
  &:hover,
  &:focus {
    color: variables.$lightest-blue;
  }
}

@mixin hover-washed-blue {
  &:hover,
  &:focus {
    color: variables.$washed-blue;
  }
}

@mixin hover-washed-green {
  &:hover,
  &:focus {
    color: variables.$washed-green;
  }
}

@mixin hover-washed-yellow {
  &:hover,
  &:focus {
    color: variables.$washed-yellow;
  }
}

@mixin hover-washed-red {
  &:hover,
  &:focus {
    color: variables.$washed-red;
  }
}

@mixin hover-bg-dark-red {
  &:hover,
  &:focus {
    background-color: variables.$dark-red;
  }
}

@mixin hover-bg-red {
  &:hover,
  &:focus {
    background-color: variables.$red;
  }
}

@mixin hover-bg-light-red {
  &:hover,
  &:focus {
    background-color: variables.$light-red;
  }
}

@mixin hover-bg-orange {
  &:hover,
  &:focus {
    background-color: variables.$orange;
  }
}

@mixin hover-bg-gold {
  &:hover,
  &:focus {
    background-color: variables.$gold;
  }
}

@mixin hover-bg-yellow {
  &:hover,
  &:focus {
    background-color: variables.$yellow;
  }
}

@mixin hover-bg-light-yellow {
  &:hover,
  &:focus {
    background-color: variables.$light-yellow;
  }
}

@mixin hover-bg-purple {
  &:hover,
  &:focus {
    background-color: variables.$purple;
  }
}

@mixin hover-bg-light-purple {
  &:hover,
  &:focus {
    background-color: variables.$light-purple;
  }
}

@mixin hover-bg-dark-pink {
  &:hover,
  &:focus {
    background-color: variables.$dark-pink;
  }
}

@mixin hover-bg-hot-pink {
  &:hover,
  &:focus {
    background-color: variables.$hot-pink;
  }
}

@mixin hover-bg-pink {
  &:hover,
  &:focus {
    background-color: variables.$pink;
  }
}

@mixin hover-bg-light-pink {
  &:hover,
  &:focus {
    background-color: variables.$light-pink;
  }
}

@mixin hover-bg-dark-green {
  &:hover,
  &:focus {
    background-color: variables.$dark-green;
  }
}

@mixin hover-bg-green {
  &:hover,
  &:focus {
    background-color: variables.$green;
  }
}

@mixin hover-bg-light-green {
  &:hover,
  &:focus {
    background-color: variables.$light-green;
  }
}

@mixin hover-bg-navy {
  &:hover,
  &:focus {
    background-color: variables.$navy;
  }
}

@mixin hover-bg-dark-blue {
  &:hover,
  &:focus {
    background-color: variables.$dark-blue;
  }
}

@mixin hover-bg-blue {
  &:hover,
  &:focus {
    background-color: variables.$blue;
  }
}

@mixin hover-bg-light-blue {
  &:hover,
  &:focus {
    background-color: variables.$light-blue;
  }
}

@mixin hover-bg-lightest-blue {
  &:hover,
  &:focus {
    background-color: variables.$lightest-blue;
  }
}

@mixin hover-bg-washed-blue {
  &:hover,
  &:focus {
    background-color: variables.$washed-blue;
  }
}

@mixin hover-bg-washed-green {
  &:hover,
  &:focus {
    background-color: variables.$washed-green;
  }
}

@mixin hover-bg-washed-yellow {
  &:hover,
  &:focus {
    background-color: variables.$washed-yellow;
  }
}

@mixin hover-bg-washed-red {
  &:hover,
  &:focus {
    background-color: variables.$washed-red;
  }
}

@mixin hover-bg-inherit {
  &:hover,
  &:focus {
    background-color: inherit;
  }
}
