@use "variables";

:root {
  /* Positive values, as applied to the margin and padding scales */
  --spacing-none: #{variables.$spacing-none};
  --spacing-extra-small: #{variables.$spacing-extra-small};
  --spacing-small: #{variables.$spacing-small};
  --spacing-medium: #{variables.$spacing-medium};
  --spacing-large: #{variables.$spacing-large};
  --spacing-extra-large: #{variables.$spacing-extra-large};
  --spacing-extra-extra-large: #{variables.$spacing-extra-extra-large};
  --spacing-extra-extra-extra-large: #{variables.$spacing-extra-extra-extra-large};
}
