:root {
  /* Positive values, as applied to the margin and padding scales */
  --spacing-none: #{$spacing-none};
  --spacing-extra-small: #{$spacing-extra-small};
  --spacing-small: #{$spacing-small};
  --spacing-medium: #{$spacing-medium};
  --spacing-large: #{$spacing-large};
  --spacing-extra-large: #{$spacing-extra-large};
  --spacing-extra-extra-large: #{$spacing-extra-extra-large};
  --spacing-extra-extra-extra-large: #{$spacing-extra-extra-extra-large};
}
