/* Variables */

/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/

   An eight step powers of two scale ranging from 0 to 16rem.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left

     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

@import "spacing-mixin";

@include generateBreakpoints() {
  .pa0#{$breakpointKey} {
    @include pa0;
  }
  .pa1#{$breakpointKey} {
    @include pa1;
  }
  .pa2#{$breakpointKey} {
    @include pa2;
  }
  .pa3#{$breakpointKey} {
    @include pa3;
  }
  .pa4#{$breakpointKey} {
    @include pa4;
  }
  .pa5#{$breakpointKey} {
    @include pa5;
  }
  .pa6#{$breakpointKey} {
    @include pa6;
  }
  .pa7#{$breakpointKey} {
    @include pa7;
  }

  .pl0#{$breakpointKey} {
    @include pl0;
  }
  .pl1#{$breakpointKey} {
    @include pl1;
  }
  .pl2#{$breakpointKey} {
    @include pl2;
  }
  .pl3#{$breakpointKey} {
    @include pl3;
  }
  .pl4#{$breakpointKey} {
    @include pl4;
  }
  .pl5#{$breakpointKey} {
    @include pl5;
  }
  .pl6#{$breakpointKey} {
    @include pl6;
  }
  .pl7#{$breakpointKey} {
    @include pl7;
  }

  .pr0#{$breakpointKey} {
    @include pr0;
  }
  .pr1#{$breakpointKey} {
    @include pr1;
  }
  .pr2#{$breakpointKey} {
    @include pr2;
  }
  .pr3#{$breakpointKey} {
    @include pr3;
  }
  .pr4#{$breakpointKey} {
    @include pr4;
  }
  .pr5#{$breakpointKey} {
    @include pr5;
  }
  .pr6#{$breakpointKey} {
    @include pr6;
  }
  .pr7#{$breakpointKey} {
    @include pr7;
  }

  .pb0#{$breakpointKey} {
    @include pb0;
  }
  .pb1#{$breakpointKey} {
    @include pb1;
  }
  .pb2#{$breakpointKey} {
    @include pb2;
  }
  .pb3#{$breakpointKey} {
    @include pb3;
  }
  .pb4#{$breakpointKey} {
    @include pb4;
  }
  .pb5#{$breakpointKey} {
    @include pb5;
  }
  .pb6#{$breakpointKey} {
    @include pb6;
  }
  .pb7#{$breakpointKey} {
    @include pb7;
  }

  .pt0#{$breakpointKey} {
    @include pt0;
  }
  .pt1#{$breakpointKey} {
    @include pt1;
  }
  .pt2#{$breakpointKey} {
    @include pt2;
  }
  .pt3#{$breakpointKey} {
    @include pt3;
  }
  .pt4#{$breakpointKey} {
    @include pt4;
  }
  .pt5#{$breakpointKey} {
    @include pt5;
  }
  .pt6#{$breakpointKey} {
    @include pt6;
  }
  .pt7#{$breakpointKey} {
    @include pt7;
  }

  .pv0#{$breakpointKey} {
    @include pv0;
  }
  .pv1#{$breakpointKey} {
    @include pv1;
  }
  .pv2#{$breakpointKey} {
    @include pv2;
  }
  .pv3#{$breakpointKey} {
    @include pv3;
  }
  .pv4#{$breakpointKey} {
    @include pv4;
  }
  .pv5#{$breakpointKey} {
    @include pv5;
  }
  .pv6#{$breakpointKey} {
    @include pv6;
  }
  .pv7#{$breakpointKey} {
    @include pv7;
  }

  .ph0#{$breakpointKey} {
    @include ph0;
  }
  .ph1#{$breakpointKey} {
    @include ph1;
  }
  .ph2#{$breakpointKey} {
    @include ph2;
  }
  .ph3#{$breakpointKey} {
    @include ph3;
  }
  .ph4#{$breakpointKey} {
    @include ph4;
  }
  .ph5#{$breakpointKey} {
    @include ph5;
  }
  .ph6#{$breakpointKey} {
    @include ph6;
  }
  .ph7#{$breakpointKey} {
    @include ph7;
  }

  .ma0#{$breakpointKey} {
    @include ma0;
  }
  .ma1#{$breakpointKey} {
    @include ma1;
  }
  .ma2#{$breakpointKey} {
    @include ma2;
  }
  .ma3#{$breakpointKey} {
    @include ma3;
  }
  .ma4#{$breakpointKey} {
    @include ma4;
  }
  .ma5#{$breakpointKey} {
    @include ma5;
  }
  .ma6#{$breakpointKey} {
    @include ma6;
  }
  .ma7#{$breakpointKey} {
    @include ma7;
  }

  .ml0#{$breakpointKey} {
    @include ml0;
  }
  .ml1#{$breakpointKey} {
    @include ml1;
  }
  .ml2#{$breakpointKey} {
    @include ml2;
  }
  .ml3#{$breakpointKey} {
    @include ml3;
  }
  .ml4#{$breakpointKey} {
    @include ml4;
  }
  .ml5#{$breakpointKey} {
    @include ml5;
  }
  .ml6#{$breakpointKey} {
    @include ml6;
  }
  .ml7#{$breakpointKey} {
    @include ml7;
  }

  .mr0#{$breakpointKey} {
    @include mr0;
  }
  .mr1#{$breakpointKey} {
    @include mr1;
  }
  .mr2#{$breakpointKey} {
    @include mr2;
  }
  .mr3#{$breakpointKey} {
    @include mr3;
  }
  .mr4#{$breakpointKey} {
    @include mr4;
  }
  .mr5#{$breakpointKey} {
    @include mr5;
  }
  .mr6#{$breakpointKey} {
    @include mr6;
  }
  .mr7#{$breakpointKey} {
    @include mr7;
  }

  .mb0#{$breakpointKey} {
    @include mb0;
  }
  .mb1#{$breakpointKey} {
    @include mb1;
  }
  .mb2#{$breakpointKey} {
    @include mb2;
  }
  .mb3#{$breakpointKey} {
    @include mb3;
  }
  .mb4#{$breakpointKey} {
    @include mb4;
  }
  .mb5#{$breakpointKey} {
    @include mb5;
  }
  .mb6#{$breakpointKey} {
    @include mb6;
  }
  .mb7#{$breakpointKey} {
    @include mb7;
  }

  .mt0#{$breakpointKey} {
    @include mt0;
  }
  .mt1#{$breakpointKey} {
    @include mt1;
  }
  .mt2#{$breakpointKey} {
    @include mt2;
  }
  .mt3#{$breakpointKey} {
    @include mt3;
  }
  .mt4#{$breakpointKey} {
    @include mt4;
  }
  .mt5#{$breakpointKey} {
    @include mt5;
  }
  .mt6#{$breakpointKey} {
    @include mt6;
  }
  .mt7#{$breakpointKey} {
    @include mt7;
  }

  .mv0#{$breakpointKey} {
    @include mv0;
  }
  .mv1#{$breakpointKey} {
    @include mv1;
  }
  .mv2#{$breakpointKey} {
    @include mv2;
  }
  .mv3#{$breakpointKey} {
    @include mv3;
  }
  .mv4#{$breakpointKey} {
    @include mv4;
  }
  .mv5#{$breakpointKey} {
    @include mv5;
  }
  .mv6#{$breakpointKey} {
    @include mv6;
  }
  .mv7#{$breakpointKey} {
    @include mv7;
  }

  .mh0#{$breakpointKey} {
    @include mh0;
  }
  .mh1#{$breakpointKey} {
    @include mh1;
  }
  .mh2#{$breakpointKey} {
    @include mh2;
  }
  .mh3#{$breakpointKey} {
    @include mh3;
  }
  .mh4#{$breakpointKey} {
    @include mh4;
  }
  .mh5#{$breakpointKey} {
    @include mh5;
  }
  .mh6#{$breakpointKey} {
    @include mh6;
  }
  .mh7#{$breakpointKey} {
    @include mh7;
  }
}
