/*
   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

   Base:
     tt = text-transform

   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

@import "text-transform-mixin";

@include generateBreakpoints() {
  .ttc#{$breakpointKey} {
    text-transform: capitalize;
  }
  .ttl#{$breakpointKey} {
    text-transform: lowercase;
  }
  .ttu#{$breakpointKey} {
    text-transform: uppercase;
  }
  .ttn#{$breakpointKey} {
    text-transform: none;
  }
}
