@use "breakpoint-gen-mixin";

/*

   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

   Base:
     tt = text-transform

   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none

*/
@include breakpoint-gen-mixin.generate-breakpoints {
  .ttc#{breakpoint-gen-mixin.$bkpt-suffix} {
    text-transform: capitalize;
  }

  .ttl#{breakpoint-gen-mixin.$bkpt-suffix} {
    text-transform: lowercase;
  }

  .ttu#{breakpoint-gen-mixin.$bkpt-suffix} {
    text-transform: uppercase;
  }

  .ttn#{breakpoint-gen-mixin.$bkpt-suffix} {
    text-transform: none;
  }
}
