/*
   TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    f = font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale

     $font-size-headline: 6rem !default;
     $font-size-subheadline: 5rem !default;
     $font-size-1: 3rem !default;
     $font-size-2: 2.25rem !default;
     $font-size-3: 1.5rem !default;
     $font-size-4: 1.25rem !default;
     $font-size-5: 1rem !default;
     $font-size-6: 0.875rem !default;
     $font-size-7: 0.75rem !default;
*/
@include generate-breakpoints {
  /*
   * For Hero/Marketing Titles
   *
   * These generally are too large for mobile
   * so be careful using them on smaller screens.
   * */
  .f-headline#{$bkpt-suffix} {
    @include f-headline;
  }

  .f-subheadline#{$bkpt-suffix} {
    @include f-subheadline;
  }

  /* Type Scale */
  .f1#{$bkpt-suffix} {
    @include f1;
  }

  .f2#{$bkpt-suffix} {
    @include f2;
  }

  .f3#{$bkpt-suffix} {
    @include f3;
  }

  .f4#{$bkpt-suffix} {
    @include f4;
  }

  .f5#{$bkpt-suffix} {
    @include f5;
  }

  .f6#{$bkpt-suffix} {
    @include f6;
  }

  .f7#{$bkpt-suffix} {
    @include f7;
  }
}
