@use "variables";

@mixin f-headline {
  font-size: variables.$font-size-6;
  font-size: variables.$font-size-headline;
}

@mixin f-subheadline {
  font-size: variables.$font-size-subheadline;
}

// /* Type Scale */
@mixin f1 {
  font-size: variables.$font-size-5;
  font-size: variables.$font-size-1;
}

@mixin f2 {
  font-size: variables.$font-size-2;
}

@mixin f3 {
  font-size: variables.$font-size-3;
}

@mixin f4 {
  font-size: variables.$font-size-4;
}

@mixin f5 {
  font-size: variables.$font-size-5;
}

@mixin f6 {
  font-size: variables.$font-size-6;
}

@mixin f7 {
  font-size: variables.$font-size-7;
}
