@use "variables";

:root {
  /* Width Scale */
  --width-1: #{variables.$width-1};
  --width-2: #{variables.$width-2};
  --width-3: #{variables.$width-3};
  --width-4: #{variables.$width-4};
  --width-5: #{variables.$width-5};
}
