// Nicolas Gallaghers Clearfix solution
// Ref: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin cf {
  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }

  *zoom: 1;
}
@mixin cl {
  clear: left;
}
@mixin cr {
  clear: right;
}
@mixin cb {
  clear: both;
}
@mixin cn {
  clear: none;
}
