@mixin top-0 {
  top: 0;
}
@mixin right-0 {
  right: 0;
}
@mixin bottom-0 {
  bottom: 0;
}
@mixin left-0 {
  left: 0;
}
@mixin top-1 {
  top: 1rem;
}
@mixin right-1 {
  right: 1rem;
}
@mixin bottom-1 {
  bottom: 1rem;
}
@mixin left-1 {
  left: 1rem;
}
@mixin top-2 {
  top: 2rem;
}
@mixin right-2 {
  right: 2rem;
}
@mixin bottom-2 {
  bottom: 2rem;
}
@mixin left-2 {
  left: 2rem;
}
@mixin top--1 {
  top: -1rem;
}
@mixin right--1 {
  right: -1rem;
}
@mixin bottom--1 {
  bottom: -1rem;
}
@mixin left--1 {
  left: -1rem;
}
@mixin top--2 {
  top: -2rem;
}
@mixin right--2 {
  right: -2rem;
}
@mixin bottom--2 {
  bottom: -2rem;
}
@mixin left--2 {
  left: -2rem;
}
@mixin absolute--fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
