@mixin tracked {
  letter-spacing: var(--letter-spacing-1);
}
@mixin tracked-tight {
  letter-spacing: var(--letter-spacing-tight);
}
@mixin tracked-mega {
  letter-spacing: var(--letter-spacing-2);
}
