@mixin mw1 {
  max-width: var(--max-width-1);
}

@mixin mw2 {
  max-width: var(--max-width-2);
}

@mixin mw3 {
  max-width: var(--max-width-3);
}

@mixin mw4 {
  max-width: var(--max-width-4);
}

@mixin mw5 {
  max-width: var(--max-width-5);
}

@mixin mw6 {
  max-width: var(--max-width-6);
}

@mixin mw7 {
  max-width: var(--max-width-7);
}

@mixin mw8 {
  max-width: var(--max-width-8);
}

@mixin mw9 {
  max-width: var(--max-width-9);
}

@mixin mw-100 {
  max-width: 100%;
}

@mixin mw-none {
  max-width: none;
}
