@mixin na1 {
  margin: calc(-1 * var(--spacing-extra-small));
}

@mixin na2 {
  margin: calc(-1 * var(--spacing-small));
}

@mixin na3 {
  margin: calc(-1 * var(--spacing-medium));
}

@mixin na4 {
  margin: calc(-1 * var(--spacing-large));
}

@mixin na5 {
  margin: calc(-1 * var(--spacing-extra-large));
}

@mixin na6 {
  margin: calc(-1 * var(--spacing-extra-extra-large));
}

@mixin na7 {
  margin: calc(-1 * var(--spacing-extra-extra-extra-large));
}

@mixin nl1 {
  margin-left: calc(-1 * var(--spacing-extra-small));
}

@mixin nl2 {
  margin-left: calc(-1 * var(--spacing-small));
}

@mixin nl3 {
  margin-left: calc(-1 * var(--spacing-medium));
}

@mixin nl4 {
  margin-left: calc(-1 * var(--spacing-large));
}

@mixin nl5 {
  margin-left: calc(-1 * var(--spacing-extra-large));
}

@mixin nl6 {
  margin-left: calc(-1 * var(--spacing-extra-extra-large));
}

@mixin nl7 {
  margin-left: calc(-1 * var(--spacing-extra-extra-extra-large));
}

@mixin nr1 {
  margin-right: calc(-1 * var(--spacing-extra-small));
}

@mixin nr2 {
  margin-right: calc(-1 * var(--spacing-small));
}

@mixin nr3 {
  margin-right: calc(-1 * var(--spacing-medium));
}

@mixin nr4 {
  margin-right: calc(-1 * var(--spacing-large));
}

@mixin nr5 {
  margin-right: calc(-1 * var(--spacing-extra-large));
}

@mixin nr6 {
  margin-right: calc(-1 * var(--spacing-extra-extra-large));
}

@mixin nr7 {
  margin-right: calc(-1 * var(--spacing-extra-extra-extra-large));
}

@mixin nb1 {
  margin-bottom: calc(-1 * var(--spacing-extra-small));
}

@mixin nb2 {
  margin-bottom: calc(-1 * var(--spacing-small));
}

@mixin nb3 {
  margin-bottom: calc(-1 * var(--spacing-medium));
}

@mixin nb4 {
  margin-bottom: calc(-1 * var(--spacing-large));
}

@mixin nb5 {
  margin-bottom: calc(-1 * var(--spacing-extra-large));
}

@mixin nb6 {
  margin-bottom: calc(-1 * var(--spacing-extra-extra-large));
}

@mixin nb7 {
  margin-bottom: calc(-1 * var(--spacing-extra-extra-extra-large));
}

@mixin nt1 {
  margin-top: calc(-1 * var(--spacing-extra-small));
}

@mixin nt2 {
  margin-top: calc(-1 * var(--spacing-small));
}

@mixin nt3 {
  margin-top: calc(-1 * var(--spacing-medium));
}

@mixin nt4 {
  margin-top: calc(-1 * var(--spacing-large));
}

@mixin nt5 {
  margin-top: calc(-1 * var(--spacing-extra-large));
}

@mixin nt6 {
  margin-top: calc(-1 * var(--spacing-extra-extra-large));
}

@mixin nt7 {
  margin-top: calc(-1 * var(--spacing-extra-extra-extra-large));
}
