@mixin black-90 {
  color: var(--black-90);
}
@mixin black-80 {
  color: var(--black-80);
}
@mixin black-70 {
  color: var(--black-70);
}
@mixin black-60 {
  color: var(--black-60);
}
@mixin black-50 {
  color: var(--black-50);
}
@mixin black-40 {
  color: var(--black-40);
}
@mixin black-30 {
  color: var(--black-30);
}
@mixin black-20 {
  color: var(--black-20);
}
@mixin black-10 {
  color: var(--black-10);
}
@mixin black-05 {
  color: var(--black-05);
}
@mixin white-90 {
  color: var(--white-90);
}
@mixin white-80 {
  color: var(--white-80);
}
@mixin white-70 {
  color: var(--white-70);
}
@mixin white-60 {
  color: var(--white-60);
}
@mixin white-50 {
  color: var(--white-50);
}
@mixin white-40 {
  color: var(--white-40);
}
@mixin white-30 {
  color: var(--white-30);
}
@mixin white-20 {
  color: var(--white-20);
}
@mixin white-10 {
  color: var(--white-10);
}
@mixin black {
  color: var(--black);
}
@mixin near-black {
  color: var(--near-black);
}
@mixin dark-gray {
  color: var(--dark-gray);
}
@mixin mid-gray {
  color: var(--mid-gray);
}
@mixin gray {
  color: var(--gray);
}
@mixin silver {
  color: var(--silver);
}
@mixin light-silver {
  color: var(--light-silver);
}
@mixin moon-gray {
  color: var(--moon-gray);
}
@mixin light-gray {
  color: var(--light-gray);
}
@mixin near-white {
  color: var(--near-white);
}
@mixin white {
  color: var(--white);
}

@mixin dark-red {
  color: var(--dark-red);
}
@mixin red {
  color: var(--red);
}
@mixin light-red {
  color: var(--light-red);
}
@mixin orange {
  color: var(--orange);
}
@mixin gold {
  color: var(--gold);
}
@mixin yellow {
  color: var(--yellow);
}
@mixin light-yellow {
  color: var(--light-yellow);
}
@mixin purple {
  color: var(--purple);
}
@mixin light-purple {
  color: var(--light-purple);
}
@mixin dark-pink {
  color: var(--dark-pink);
}
@mixin hot-pink {
  color: var(--hot-pink);
}
@mixin pink {
  color: var(--pink);
}
@mixin light-pink {
  color: var(--light-pink);
}
@mixin dark-green {
  color: var(--dark-green);
}
@mixin green {
  color: var(--green);
}
@mixin light-green {
  color: var(--light-green);
}
@mixin navy {
  color: var(--navy);
}
@mixin dark-blue {
  color: var(--dark-blue);
}
@mixin blue {
  color: var(--blue);
}
@mixin light-blue {
  color: var(--light-blue);
}
@mixin lightest-blue {
  color: var(--lightest-blue);
}
@mixin washed-blue {
  color: var(--washed-blue);
}
@mixin washed-green {
  color: var(--washed-green);
}
@mixin washed-yellow {
  color: var(--washed-yellow);
}
@mixin washed-red {
  color: var(--washed-red);
}
@mixin color-inherit {
  color: inherit;
}

@mixin bg-black-90 {
  background-color: var(--black-90);
}
@mixin bg-black-80 {
  background-color: var(--black-80);
}
@mixin bg-black-70 {
  background-color: var(--black-70);
}
@mixin bg-black-60 {
  background-color: var(--black-60);
}
@mixin bg-black-50 {
  background-color: var(--black-50);
}
@mixin bg-black-40 {
  background-color: var(--black-40);
}
@mixin bg-black-30 {
  background-color: var(--black-30);
}
@mixin bg-black-20 {
  background-color: var(--black-20);
}
@mixin bg-black-10 {
  background-color: var(--black-10);
}
@mixin bg-black-05 {
  background-color: var(--black-05);
}
@mixin bg-white-90 {
  background-color: var(--white-90);
}
@mixin bg-white-80 {
  background-color: var(--white-80);
}
@mixin bg-white-70 {
  background-color: var(--white-70);
}
@mixin bg-white-60 {
  background-color: var(--white-60);
}
@mixin bg-white-50 {
  background-color: var(--white-50);
}
@mixin bg-white-40 {
  background-color: var(--white-40);
}
@mixin bg-white-30 {
  background-color: var(--white-30);
}
@mixin bg-white-20 {
  background-color: var(--white-20);
}
@mixin bg-white-10 {
  background-color: var(--white-10);
}

@mixin bg-black {
  background-color: var(--black);
}
@mixin bg-near-black {
  background-color: var(--near-black);
}
@mixin bg-dark-gray {
  background-color: var(--dark-gray);
}
@mixin bg-mid-gray {
  background-color: var(--mid-gray);
}
@mixin bg-gray {
  background-color: var(--gray);
}
@mixin bg-silver {
  background-color: var(--silver);
}
@mixin bg-light-silver {
  background-color: var(--light-silver);
}
@mixin bg-moon-gray {
  background-color: var(--moon-gray);
}
@mixin bg-light-gray {
  background-color: var(--light-gray);
}
@mixin bg-near-white {
  background-color: var(--near-white);
}
@mixin bg-white {
  background-color: var(--white);
}
@mixin bg-transparent {
  background-color: var(--transparent);
}

@mixin bg-dark-red {
  background-color: var(--dark-red);
}
@mixin bg-red {
  background-color: var(--red);
}
@mixin bg-light-red {
  background-color: var(--light-red);
}
@mixin bg-orange {
  background-color: var(--orange);
}
@mixin bg-gold {
  background-color: var(--gold);
}
@mixin bg-yellow {
  background-color: var(--yellow);
}
@mixin bg-light-yellow {
  background-color: var(--light-yellow);
}
@mixin bg-purple {
  background-color: var(--purple);
}
@mixin bg-light-purple {
  background-color: var(--light-purple);
}
@mixin bg-dark-pink {
  background-color: var(--dark-pink);
}
@mixin bg-hot-pink {
  background-color: var(--hot-pink);
}
@mixin bg-pink {
  background-color: var(--pink);
}
@mixin bg-light-pink {
  background-color: var(--light-pink);
}
@mixin bg-dark-green {
  background-color: var(--dark-green);
}
@mixin bg-green {
  background-color: var(--green);
}
@mixin bg-light-green {
  background-color: var(--light-green);
}
@mixin bg-navy {
  background-color: var(--navy);
}
@mixin bg-dark-blue {
  background-color: var(--dark-blue);
}
@mixin bg-blue {
  background-color: var(--blue);
}
@mixin bg-light-blue {
  background-color: var(--light-blue);
}
@mixin bg-lightest-blue {
  background-color: var(--lightest-blue);
}
@mixin bg-washed-blue {
  background-color: var(--washed-blue);
}
@mixin bg-washed-green {
  background-color: var(--washed-green);
}
@mixin bg-washed-yellow {
  background-color: var(--washed-yellow);
}
@mixin bg-washed-red {
  background-color: var(--washed-red);
}
@mixin bg-inherit {
  background-color: inherit;
}
