@mixin measure {
  max-width: $measure;
}

@mixin measure-wide {
  max-width: $measure-wide;
}

@mixin measure-narrow {
  max-width: $measure-narrow;
}

@mixin indent {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 1em;
}

@mixin small-caps {
  font-variant: small-caps;
}

@mixin truncate($width: "") {
  @if $width {
    max-width: $width;
  }

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
