@use "../variables" as *;
@use "../generators/classes" as *;
@use "../generators/breakpoints" as *;
/*

   ASPECT RATIOS

*/
/* This is for fluid media that is embedded from third party sites like youtube, vimeo etc.
 * Wrap the outer element in aspect-ratio and then extend it with the desired ratio i.e
 * Make sure there are no height and width attributes on the embedded media.
 * Adapted from: https://github.com/suitcss/components-flex-embed
 *
 * Example:
 *
 * <div class="aspect-ratio aspect-ratio--16x9">
 *  <iframe class="aspect-ratio--object"></iframe>
 * </div>
 *
 * */
@include generate-breakpoints {
  @include generate-classes(map, padding-bottom, $bkpt-suffix);

  .aspect-ratio--object#{$bkpt-suffix} {
    position: absolute;
    inset: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
  }
}
