/*

   LISTS
   http://tachyons.io/docs/elements/lists/

   Accessibility fix.
   https://www.tempertemper.net/blog/accessibility-issues-when-removing-list-markers

*/
.list {
  &:before {
    content: "\200B"; /* add zero-width space */
  }
  list-style-type: none;
}
