@use "../variables" as *;
@use "../generators/classes" as *;
@use "../generators/breakpoints" as *;
/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/

/* Text colors */
@include generate-compound-classes($color-scales) using
  ($key, $value, $prefix, $suffix, $brkpoint, $i) {
  .#{$key}#{$bkpt-suffix} {
    color: var(--#{$key}, #{$value});
  }
}

/* Background colors */
@include generate-compound-classes($color-scales, bg) using
  ($key, $value, $prefix, $suffix, $brkpoint, $i) {
  .#{$prefix}#{$key}#{$bkpt-suffix} {
    color: var(--#{$key}, #{$value});
  }
}
